<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>다솜❤️정준</title>
    <meta content="다솜❤️정준 결혼식에 초대합니다." name="description"/>
    <meta property="og:image" content="images/sompic7.png">
    <link href="images/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="images/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="images/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="styles/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.js" type="text/javascript"></script>
    <!-- Google Tag Manager
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TBNHSTG');</script>  
    -->
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4GZH9PBVKH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-4GZH9PBVKH');
    </script>
</head>

<body id="top">
<header></header>
<div id="fb-root"></div>
<div class="page-content">
    <div class="div">
        <div class="ww-home-page" id="home">
            <div class="ww-wedding-announcement d-flex align-items-center justify-content-start">
                <div class="container ww-announcement-container">
                    <!-- <p class="ww-couple-name" style="font-size:4.0em"></p> -->
                    <p class="h2 mt-5 "
                       style="font-family: 'Noto Serif KR', serif; font-size:1.3em;">
                        <b >2023. 05. 13. Saturday PM 12:00</b>
                        <br><a href="https://place.map.kakao.com/8233809">노보텔앰배서더 강남</a> 2층 샴페인홀<br><br>
                        <a href="https://theirmood.com/card/DdjIQuX6Lo">모바일 청첩장 바로가기</a><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="ww-section" id="couple">
            <div class="container">
                <h3 class="text-center"><a href="https://hits.sh/github.com/dasom-kim/wedding-card-somie/">
                    <img alt="Hits" src="https://hits.sh/github.com/dasom-kim/wedding-card.svg?view=today-total&style=for-the-badge"/>
                </a></h3><br>
                <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">인사말</h2>
                <div class="row text-center">
                    <div class="col-md-12">
                        <p class="h2 mt-5 " style="font-family: 'Noto Serif KR', serif; font-size:1.3em;">
                            하얀 눈이 내리던 2013년 겨울,<br><br>
                            풋풋한 새내기로서 만남을 시작한 저희가<br><br>
                            햇살 가득한 2023년 봄,<br><br>
                            서로를 믿고 지켜주는 부부로 나아가고자 합니다.<br><br>
                            소중한 시간을 내주셔서 자리를 빛내어 주시면<br><br>
                            더없는 기쁨으로 평생 간직하겠습니다.<br><br><br>
                            황의순·김정민의 차남 황정준<br><br>
                            김동철·방미아의 장녀 김다솜<br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="ww-section bg-light" id="faq">
            <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">소미의 한마디</h2>
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="h2 mt-5 " style="font-family: 'Noto Serif KR', serif; font-size:1.3em;">
                        thanks to dong<br><br>
                    </p>
                </div>
            </div>
        </div> -->
        <div class="ww-section" id="gallery">
            <div class="ww-photo-gallery">
                <div class="container">
                    <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">갤러리</h2>
                    <!-- <h5 class="h5 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">photos</h5> -->
                    <div class="ww-gallery">
                        <div class="card-columns">
                            <div class="card">
                                <a data-gallery="ww-gallery" data-toggle="lightbox">
                                    <img class="img-fluid" src="images/sompic1.jpg"/>
                                </a>
                            </div>
                            <div class="card">
                                <a data-gallery="ww-gallery" data-toggle="lightbox">
                                    <img class="img-fluid" src="images/sompic2.jpg"/>
                                </a>
                            </div>
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic4.jpg"/>
                                </a>
                            </div>
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic5.jpg"/>
                                </a>
                            </div>
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic6.jpg"/>
                                </a>
                            </div>
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic7.jpg"/>
                                </a>
                            </div>
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic8.jpg"/>
                                </a>
                            </div>
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic9.jpg"/>
                                </a>
                            </div>
                            
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic10.jpg"/>
                                </a>
                            </div>
                            
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic11.jpg"/>
                                </a>
                            </div>
                            
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic12.jpg"/>
                                </a>
                            </div>
                            
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic13.jpg"/>
                                </a>
                            </div>
                            
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic14.jpg"/>
                                </a>
                            </div>
                            
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic15.jpg"/>
                                </a>
                            </div>
                            
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic16.jpg"/>
                                </a>
                            </div>
                            
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic17-bg.jpg"/>
                                </a>
                            </div>
                            
                            <div class="card">
                                <a data-gallery="ww-gallery">
                                    <img class="img-fluid" src="images/sompic18.jpg"/>
                                </a>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ww-section" id="map">
            <div class="container">
                <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">오시는 길</h2>
            
                <!-- * 카카오맵 - 지도퍼가기 -->
                <!-- 1. 지도 노드 -->
                <div id="daumRoughmapContainer1680835800157" class="root_daum_roughmap root_daum_roughmap_landing"></div>

                <!--
                    2. 설치 스크립트
                    * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
                -->
                <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

                <!-- 3. 실행 스크립트 -->
                <script charset="UTF-8">
                    new daum.roughmap.Lander({
                        "timestamp" : "1680835800157",
                        "key" : "2ed3w",
                        "mapWidth" : "640",
                        "mapHeight" : "360"
                    }).render();
                </script>

                <!--- 카카오맵 도와줘요 헨리-->

            </div>
        </div>

        <div class="ww-section bg-light" id="comment">
            <div class="ww-photo-gallery">
                <div class="container">
                    <div class="col text-center">
                        <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">축하글 남기기</h2>
                        <h5 class="h5 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">github 계정 인증이 필요합니다!</h5>
                        <br>
                        <div id="utterances">
                            <script src="https://utteranc.es/client.js"
                                repo="dasom-kim/wedding-card-somie"
                                issue-term="pathname"
                                theme="github-light"
                                crossorigin="anonymous"
                                async>
                            </script>
                        </div>

                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<footer></footer>
<script src="scripts/main.js"></script>

<div class="bottom_right"><i class="fa fa-arrow-up fa-2x" id="go-to-top" style="cursor: pointer;"></i>
</div>

<div class="bottom_left">
</div>

</body>
</html>
